@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
header{
    background-color: rgb(1, 200, 235);
    height: 69px;
}
h2.logo{
    font-size: 2em;
    margin: 10px;
    float: left;
}
nav{
    float: right;
    margin: 20px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    transition: 0.4s;
    font-weight: 500;
}
nav ul li a:hover{
    background-color: black;
    color: white;
    padding: 2px 20px;
    border-radius: 30px;
}
.main{
    background: url(images/background.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 3em;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-stroke-color: black;
}
.main p{
    color: white;
    margin: 10px;
    font-size: 1em;
    font-weight: 500;
    text-shadow: 1px 2px 2px #000;
}
.main button{
    padding: 10px 50px;
    border-radius: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    text-shadow: 1px 2px 2px #000;
    font-weight: 500;
    font-size: 1em;
    transition: 0.4s;
}
.main button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    text-shadow: none;
}
main{
    background-color: #110223;
    padding: 10px;
    color: white;
}

main h1{
    padding: 15px;
}